<zi-accordion openText="{{ 'Open menu' | t }}" closeText="{{ 'Close menu' | t }}">
  <section class="accordion">
    <ul>
      {% for item in items %}
        {% if item.content.content.teasers is not empty %}
          <li class="accordion__item" id="{{ item.id }}">
            <button class="accordion__action" type="button" aria-pressed="false" aria-expanded="false">
              <h3 class="accordion__title h4">{{ item.title }}</h3>
              <div class="accordion__close icon plus medium" role="button" title="{{ 'Open menu' | t }}" tabindex="0">
                <span class="visually-hidden">{{ 'Open menu' | t }}</span>
              </div>
            </button>
            <div class="accordion__content">
              <div class="wrapper">
                {% include '@twig/components/teaser-collection/teaser-collection.html.twig' with {
                  type: item.content.content.type,
                  teasers: item.content.content.teasers,
                  parentMetaTitle: parentMetaTitle,
                  parentDiscontinued: discontinued
                } only %}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</zi-accordion>
